.container{
    height: 100%;
    display: flex;
    margin-top: 60px;

}

.content{
    flex : 1;
    margin-left: 240px;
}

@media (max-width : 768px){
    .content{
        margin-left: 90px;
    }
}